<div class="password-evaluator-container">
  <h2>Password Strength Evaluator</h2>
  
  <div class="password-input-wrapper">
    <label for="password-input">Enter Password:</label>
    <div class="input-group">
      <input
        id="password-input"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        (input)="onPasswordChange()"
        placeholder="Type your password..."
        class="password-input"
      />
      <button 
        type="button" 
        class="toggle-button" 
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
      >
        <span class="eye-icon">{{ showPassword ? '👁️' : '👁️‍🗨️' }}</span>
      </button>
    </div>
  </div>

  <div class="strength-indicator" *ngIf="strengthInfo && password.length > 0">
    <div class="strength-label-wrapper">
      <span class="strength-label-text">Strength:</span>
      <span 
        class="strength-label" 
        [style.color]="strengthInfo.color"
        [style.border-color]="strengthInfo.color"
      >
        {{ strengthInfo.label }}
      </span>
    </div>
    
    <div class="strength-bar-container">
      <div 
        class="strength-bar" 
        [style.width]="(strengthInfo.score / 4 * 100) + '%'"
        [style.background-color]="strengthInfo.color"
      ></div>
    </div>

    <div class="suggestions" *ngIf="strengthInfo.suggestions.length > 0">
      <h4>Suggestions:</h4>
      <ul>
        <li *ngFor="let suggestion of strengthInfo.suggestions">{{ suggestion }}</li>
      </ul>
    </div>
  </div>
</div>
